.contact-wrapper
    .contact-container
        .contact-container__box
            %p.contact-head お問い合わせ
            = form_for @contact, url: contacts_path, method: :post, html: {class: "contact-form"} do |f|
                .contact-field
                    %p.contact-label お名前
                    = f.text_field :name, autofocus: :true, class: "contact-field__input"
                .contact-field
                    %p.contact-label メールアドレス
                    = f.text_field :email, autofocus: :true, class: "contact-field__input"
                .contact-field
                    %p.contact-label お問い合わせ内容
                    = f.text_area :content, autofocus: :true, class: "contact-field__textarea"
                .contact-submit
                    = f.submit "送信", class: "contact-submit__button"
                    = link_to "戻る", root_path, class: "back-button"
