.about-section
  .about-head
    %h2.about-head__en About
    %span.about-head__jp -管理者について-
  .about-main
    .about-main__box
      .about-main__box__head
        .about-name
          %h3.about-name__jp 山﨑 啓世
          %h3.about-name__en Hirotsugu Yamazaki
      .about-main__box__detail
        .about-profile
          %p.about-profile__text 神奈川県横浜市出身。2019年9月末にプログラミングスクール「TECH::EXPERT(現テックキャンプ 転職コース)」に入学、同12月に卒業し、現在は学習と開発を続けながら、エンジニアを目指して就職活動を行っています。
        .about-learn
          .about-learn__box
            .about-learn__box__head
              %h4.about-learn__box__head--text 学習中/使用中の言語、技術など
            .about-learn__box__tech
              %h5.about-learn__box__tech--text
                %p.underlined【 サーバーサイド 】
                Python / Django / Flask / Ruby / Ruby on Rails
              %h5.about-learn__box__tech--text
                %p.underlined【 フロントエンド 】
                HTML / CSS / Haml / Sass(SCSS) / JavaScript/ jQuery / Vue.js
              %h5.about-learn__box__tech--text
                %p.underlined【 その他インフラなど 】
                Git / GitHub / Docker(docker-compose) / AWS(EC2, S3, ELB, Route53, ACM) / heroku / SQL
        .about-contact
          .about-contact__head
            %h4.about-contact__head__text リンク先 / お問い合わせ
          .about-contact__link<
            %h5.about-contact__link__text ◎ リンク
            = link_to "https://github.com/hrtg-yamazaki/", class: "about-contact__link__github" do
              = fa_icon "github"
              %span &nbspGitHub
            = link_to "Wantedly", "https://www.wantedly.com/users/129120524", class: "about-contact__link__wantedly"
            = link_to "Qiita", "https://qiita.com/toffe_hy/"#
            = link_to "( coming soon... )", "/"
          .about-contact__mail
            %p.about-contact__mail__head ◎ お問い合わせ
            = link_to new_contact_path, class: "about-contact__mail__address" do
              = fa_icon "envelope"
              %span お問い合わせフォームはこちら
            %p.mail-attention ※管理の都合で、翌日以降の返信になる場合がございます。ご了承ください。