.top-wrapper
  = render "header"
  = render "introduction"

.works-wrapper
  = render "works", works: @works

.about-wrapper
  = render "about"

.site-wrapper
  = render "site"

%footer.footer
  = render "footer"
