.top-wrapper

  %header.header
    .header-box.clearfix
      .header-left
        = link_to "PORTFORIO", root_path, class: "header-left__logo"
      .header-right
        .header-right__sp
          %p.header-right__sp__close close
          = fa_icon "bars"
          .header-right__sp__menu
            .header-right__sp__menu--list.js-works
              %p 開発実績
            .header-right__sp__menu--list.js-about
              %p 管理者について
            .header-right__sp__menu--list.js-pageinfo
              %p ページ情報
        .header-right__pc
          %p.header-right__pc__link.js-works Works
          %p.header-right__pc__link.js-about About
          %p.header-right__pc__link.js-pageinfo PageInfo
  .introduction
    .introduction__box
      .self-intro
        .self-intro__head
          %h3.self-intro__head--text Welcome to my site!
        .self-intro__explain
          .self-intro__explain__box
            %p.self-intro__explain__box--text<
              こちらのページは、私
              %span.js-profile Hirotsugu Yamazaki
              のポートフォリオサイトです。主にRubyやPythonで開発したアプリケーションを公開しています。
            -# %p.self-intro__explain__box--tips


.works-wrapper
  .works-section
    .works-head
      %h2.works-head__en Works
      %span.works-head__jp -開発実績-
      %p.recommend-browser
        ※最新版のGoogle Chromeでのアクセスを推奨いたします。
        %br
        (一部ブラウザではレイアウトが正しく表示されないことがございます。)
    .works-lists
      .works-lists__box
        .works-list
          .works-list__box
            .works-list__box__head.clearfix<
              .works-list__box__head--left
                = link_to "Djappy", "https://djappy.herokuapp.com/" , class: "works-title" 
                .dev-env
                  .dev-env__head.clearfix
                    %h5 開発環境
                    %span.python-app Python
                  %p.used-tech Python3 / Django / scss / jQuery / postgresSQL / heroku / GitHub /
              .works-list__box__head--right
                .works-djappy.page-image
            .works-list__box__content
              %p.works-list__box__content--detail オリジナルのブログアプリケーションです。「PythonとDjangoを独学でも基本からしっかり理解する」をテーマに、スタンダードな機能(画像付き記事の投稿・編集・検索、ユーザー認証など)を出来る限り丁寧に実装していきました。今後は管理人の学習の進行に応じて、機械学習関連の機能を追加していく予定です。
              -# %p.access-attention 
        .works-list
          .works-list__box
            .works-list__box__head.clearfix<
              .works-list__box__head--left
                = link_to "FreemarketSample62e","http://13.114.37.243/", class: "works-title"
                .dev-env
                  .dev-env__head.clearfix
                    %h5 開発環境
                    %span.ruby-app Ruby
                  %p.used-tech Ruby / Ruby on Rails / Haml / scss / jQuery / unicorn / nginx / mySQL / capistrano / AWS (EC2, S3) / GitHub /
              .works-list__box__head--right
                .works-fmsample.page-image
            .works-list__box__content
              %p.works-list__box__content--detail プログラミングスクールの最終課題として開発に取り組んだ、既存フリマアプリのコピーサイトです。同期のメンバーと４人チームで、アジャイル方式による共同開発を行いました。デプロイ先として、AWS(EC2, S3)を利用しています。
              %p.access-attention<
                ※アクセスにはBasic認証が必要です。ご希望の際は
                %span.js-mail メール
                にてご連絡ください。
        .works-list
          .works-list__box
            .works-list__box__head.clearfix<
              .works-list__box__head--left
                = link_to "coming soon", "#" , class: "works-title" 
                .dev-env
                  .dev-env__head.clearfix
                    %h5 開発環境
                    %span.ruby-app Ruby
                  %p.used-tech Ruby / Ruby on Rails / Haml / scss / jQuery / postgresSQL / heroku / GitHub /
              .works-list__box__head--right
                -# .works-作品名.page-image
            .works-list__box__content
              %p.works-list__box__content--detail ( Railsを用いて開発中の、生活習慣を記録するアプリケーションです )
              %p.access-attention 現在作成中です
        .works-list
          .works-list__box
            .works-list__box__head.clearfix<
              .works-list__box__head--left
                = link_to "ChatSpace", "https://github.com/hrtg-yamazaki/chat-space" , class: "works-title" 
                .dev-env
                  .dev-env__head.clearfix
                    %h5 開発環境
                    %span.ruby-app Ruby
                  %p.used-tech Ruby / Ruby on Rails / Haml / scss / jQuery / mySQL / GitHub /
              .works-list__box__head--right
                .works-chatspace.page-image
            .works-list__box__content
              %p.works-list__box__content--detail プログラミングスクールで学習した内容を元に開発を行った、チャットアプリケーションです。非同期通信を用いた画像付きメッセージの送信・自動更新機能が実装されており、グループ機能を利用したコミュニケーションが可能です。
              %p.access-attention ※EC2インスタンス停止中(リンク先はGitHubのリポジトリURLです。)


.about-wrapper
  .about-section
    .about-head
      %h2.about-head__en About Me
      %span.about-head__jp -管理者について-
    .about-main
      .about-main__box
        .about-main__box__head
          .about-name
            %h3.about-name__jp 山﨑 啓世
            %h3.about-name__en Hirotsugu Yamazaki
        .about-main__box__detail
          .about-profile
            %p.about-profile__text 神奈川県横浜市出身。2019年9月末にプログラミングスクール「TECH::EXPERT」に入学、同12月に卒業し、現在は学習と開発を続けながら、エンジニアを目指して就職活動を行っています。
          .about-learn
            .about-learn__box
              .about-learn__box__head
                %h4.about-learn__box__head--text 学習中/使用中の言語、技術など
              .about-learn__box__tech
                %h5.about-learn__box__tech--text Ruby / Ruby on Rails / Python / Django / HTML / CSS / Haml / Sass(SCSS) / JavaScript / jQuery / SQL / Git / GitHub / AWS(EC2, S3) / heroku / Bootstrap (etc...)
          .about-contact
            .about-contact__head
              %h4.about-contact__head__text リンク先 / お問い合わせ
            .about-contact__link
              %h5.about-contact__link__text ◎ リンク
              = link_to "https://github.com/hrtg-yamazaki/", class: "about-contact__link__github" do
                = fa_icon "github"
                %span GitHub
              = link_to "Wantedly ( 作成中 )", "#", class: "about-contact__link__wantedly"
            .about-contact__mail
              %p.about-contact__mail__head ◎ メールアドレス
              = mail_to "t62.yamazaki.hirotsugu@gmail.com", class: "about-contact__mail__address" do
                = fa_icon "envelope"
                %span gmail ( 就職活動用 )
              = mail_to "hrtg.ymzk.dev@gmail.com", class: "about-contact__mail__address" do
                = fa_icon "envelope"
                %span gmail ( その他 )
              %p.mail-attention ※企業の採用担当者様は（就職活動用）に、その他お問い合わせは（その他）からご連絡ください。
              %p.mail-attention ※管理の都合で、翌日以降の返信になる場合がございます。ご了承ください。


.site-wrapper
  .site-section
    .site-head
      %h2.site-head__en Page Info
      %span.site-head__jp -このページについて-
    .site-main
      .site-main__box
        .site-contents
          .green-comment.clearfix
            .green-comment__inside
              .green-balloon
                %p.site-comment
                  使用技術・開発環境について
          .white-comment.clearfix
            .white-comment__side
              .speaker-icon
                %h4.speaker-icon__name HY
            .white-comment__inside
              %p.speaker-name Hirotsugu Yamazaki
              .white-balloon
                %p.site-comment
                  Ruby / Ruby on rails / haml / scss / jQuery / で作成したワンページアプリケーションです。
                  %br/
                  また、開発とデプロイにあたって、 GitHub と Heroku を利用しています。
          .green-comment.clearfix
            .green-comment__inside
              .green-balloon
                %p.site-comment
                  作成意図について
          .white-comment.clearfix
            .white-comment__side
              .speaker-icon
                %h4.speaker-icon__name HY
            .white-comment__inside
              %p.speaker-name Hirotsugu Yamazaki
              .white-balloon
                %p.site-comment
                  サーバーサイドの学習を主な目的として開発した他のアプリケーションとは違い、フロントエンドの学習のために作成しました。
                  %br/
                  htmlとcssの基本的な仕組みの実践と、JavaScriptの基礎的なDOM操作のおさらいのため、cssフレームワークの類は一切使用していません。
          .white-comment.clearfix
            .white-comment__side
              .speaker-icon
                %h4.speaker-icon__name HY
            .white-comment__inside
              %p.speaker-name Hirotsugu Yamazaki
              .white-balloon
                %p.site-comment
                  また、卒業したスクールのカリキュラムにはなかった"レスポンシブ対応"についての学習も狙いとしています。
                  %br/
                  PCだけでなく、スマートフォンやタブレットでの表示にもある程度対応しておりますので、ご興味ある方はぜひ複数デバイスでの表示をお試し下さい。
          .green-comment.clearfix
            .green-comment__inside
              .green-balloon
                %p.site-comment その他、管理人よりメッセージ
          .white-comment.clearfix
            .white-comment__side
              .speaker-icon
                %h4.speaker-icon__name HY
            .white-comment__inside
              %p.speaker-name Hirotsugu Yamazaki
              .white-balloon
                %p.site-comment
                  ここで公開しているアプリケーションは、このページを含め、管理人の学習度に合わせて今後もブラッシュアップしていきます！
          .white-comment.clearfix
            .white-comment__side
              .speaker-icon
                %h4.speaker-icon__name HY
            .white-comment__inside
              %p.speaker-name Hirotsugu Yamazaki
              .white-balloon
                %p.site-comment
                  作成したアプリケーション、また、管理人に関するご指摘・お問い合わせなどございましたら、お気軽に"お問い合わせ先"までご連絡下さい！

%footer.footer
  .footer__box
    .footer__box__button
      %p.footer__box__button__text PAGE TOP
    .footer__box__comment
      %h5.footer__box__comment__text Thank you for your visit!
    .footer__box__rights
      %p.footer__box__rights__text ©︎ 2019- Hirotsugu Yamazaki
